!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "description", :content => "Cape Cod Feng Shui website" }
    %meta{ :name => "keywords", :content => "CCFS Feng Shui" }
    %title
      Cape Cod Feng Shui
    %link{ :href => "ccfs.css", :rel => "stylesheet", :type => "text/css" }
  %body
    #mainPan
      #leftPan
        #leftTopPan
          %a{ :href => "index.html" }
            %img{ :title => "Cape Cod Feng Shui", :src => "images/logo.gif", :border => "0", :height => "73", :alt => "Cape Cod Feng Shui", :width => "200" }

        %ul
          %li.ccsf_logo
            %img{ :src => "/images/ccsf_logo.gif" }
          - [["Home","index.html"],["Memberships", "memberships.html"], ["Programs", "programs.html"], ["Seminars", "seminars.html"], ["Business", "business.html"], ["About","about.html"], ["Tip of the Day", "http://www.wofs.com/components/com_custompages/tipoftheday.php"], ["KUA Calculator", "http://www.wofs.com/index.php?option=com_custompages&amp;Itemid=81"], ["Contact", "contact.html"]].each do |item|
            - klass = @current_page == item[0] ? "current" : nil
            - target = item[1].match(/http:/) ? "_blank" : nil
            %li{ :class => klass, :target => target }
              %a{ :href => item[1] }
                = item[0]
      #rightPan
        %h1
          Professional
          %br
          == #{"&nbsp;" * 4}Feng Shui 
          %br
          == #{"&nbsp;" * 8}Consultations
          %br
          %br
          %span
            Wishing You Health, 
            %br
            Wealth, and Prosperity!
          = yield
          - if @current_page != "Contact"
            %h2
              Will Feng Shui work for me?
            %p
              The easiest way to find out is to schedule a consultation with our
              == #{celeste}.
    #footermainPan
      #footerPan
        %p.copyright
          \&copy; 2003-2010 Cape Cod Feng Shui
        #footerPanhtml
          %a{ :href => "http://validator.w3.org/check?uri=referer", :target => "_blank" }
            html
        #footerPancss
          %a{ :href => "http://jigsaw.w3.org/css-validator/check/referer", :target => "_blank" }
            css
        %ul.templateworld
          %li
            Design By:&nbsp;
          %li
            %a{ :href => "http://www.templateworld.com", :target => "_blank" }
              Template World,&nbsp;
          %li Dmitry Mozzherin
